@import "reset";
@import "variables";

@function weight($weight-name) {
  @return map-get($font-weights,$weight-name);
}

@mixin flexCenter($direction:column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// 模式切换
@mixin theme($light-theme:true) {
  @if $light-theme  {
    background:lighten($primary-color,100%);
    color:darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width:$mobile) {
    @content;
  }
}

body {
  font-weight: map-get($map: $font-weights, $key:regular);
  background:$primary-color;
  color: $text-color;
}

.main {
  @include flexCenter(row);
  width: 80%;
  margin: 0 auto;
  #{&}__paragraph1 {
    // font-weight: map-get($map: $font-weights, $key:bold );
    font-weight: weight(bold);
    &:hover {
      color:pink;
    }
  }

  #{&}__paragraph2 {
    @extend .main__parapraph1;
  }
  
  @include mobile {
    flex-direction: column;
  }
}

.light {
  @include theme($light-theme:false);
}